@import url("./normolize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px -1px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px -2px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Play", Helvetica, sans-serif;
  color: #292929;
  font-size: 1rem;
  line-height: 1.42;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    max-width: 44.75rem;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 3.125rem 0;
}

.hero__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  color: #292929;
  width: 85%;
  margin-bottom: 1.375rem;
}

.hero__subtitle {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.31rem;
  line-height: 1.56rem;
  margin-bottom: 2.25rem;
  width: 80%;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 0 1rem 0 1rem;
}

.hero__text-section {
  width: 50%;
  height: 50%;
}

.hero__image {
  position: absolute;
  width: 31.125rem;
  height: 31.125rem;
  background: url(../img/headphones.png) center top 0.0625rem no-repeat, #FFFFFF;
  background-size: 97%;
  border-radius: 50%;
  z-index: -100;
  right: 0.9375rem;
  top: -3.125rem;
}

@media screen and (max-width: 768px) {
  .hero__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .hero__image {
    width: 20.1875rem;
    height: 20.1875rem;
    position: static;
    right: 0;
    top: 0;
    margin-bottom: 4rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 9;
        -ms-flex: 9;
            flex: 9;
  }

  .hero__title {
    text-align: center;
    width: 100%;
    margin-bottom: rem;
  }

  .hero__text-section {
    width: 100%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }

  .hero__subtitle {
    width: 70%;
    text-align: center;
    padding: 0 2.5rem;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.87rem;
  }

  .hero__subtitle {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo__icon {
  fill: #E01F3D;
  width: 100%;
  height: 100%;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .contacts.header__contacts {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.125rem;
}

.menu__link {
  white-space: nowrap;
}

.menu__hamburger {
  display: none;
}

.menu {
  margin: 0 3rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__hamburger {
  display: none;
  width: 26px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #000;
  height: 4px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.hamburger__plank:last-child {
  margin-bottom: 0;
}

.fullscrean-menu > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list--vertical > .menu__item {
  font-size: 2.25rem;
  line-height: 4.5rem;
  font-family: "Play";
  color: #FFFFFF;
}

.menu__list--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  display: inline-block;
  margin-right: 1.6875rem;
  vertical-align: middle;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.875rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.pros__lits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.375rem;
}
.pros__item:last-child {
  margin-right: 0;
}

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem 0 1rem;
}

.pros__description {
  width: 6.25rem;
  line-height: 1.125rem;
}

.pros__image {
  margin-right: 0.6875rem;
  width: 2.5625rem;
  height: 2.5625rem;
}

@media screen and (max-width: 768px) {
  .pros {
    display: none;
  }
}

.btn {
  display: inline-block;
  background: #E01F3D;
  color: #ffffff;
  padding: 0.9375rem 2.5625rem;
  border-radius: 6.25rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.offer__buy > .btn--buy {
  padding: 1.3125rem 2.5625rem;
}
@media screen and (max-width: 480px) {
  .offer__buy > .btn--buy {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .btn {
    padding-top: 1.25rem;
  }
}
@media (max-width: 480px) {
  .btn {
    font-size: 1.1875rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__image--red {
  width: 0.75rem;
  height: 0.75rem;
}
@media screen and (max-width: 768px) {
  .contacts__image--red {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__image--red {
    fill: black;
  }
}

@media screen and (max-width: 768px) {
  .contacts__phone--red {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__phone--red {
    color: black;
  }
}

.contacts__image {
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.contacts__phone {
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .contacts__phone {
    font-size: 1rem;
  }
}

.why {
  background: #ffffff;
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  margin-bottom: 1.125rem;
  text-align: center;
}

.team__container > .main__title--team {
  margin-bottom: 3.3125rem;
}
@media screen and (max-width: 768px) {
  .team__container > .main__title--team {
    margin-bottom: 2.0625rem;
  }
}

.why__subtitle {
  color: #666666;
  padding: 0 2.5rem;
  text-align: center;
  margin-bottom: 3.4375rem;
}

@media (max-width: 768px) {
  .why__subtitle {
    margin-bottom: 2.9rem;
    padding: 0 1.125rem;
  }

  .main__title {
    margin-bottom: 0.7rem;
  }
}
@media (max-width: 480px) {
  .main__title {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .why__subtitle {
    padding: 0 0.5rem;
  }
}
.benifits {
  width: 100%;
}

.benifits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benifints__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 0.625rem;
  text-align: center;
}
.benifints__item::after {
  content: url(../img/separator.svg);
  position: absolute;
  width: 4.25rem;
  height: 1.375rem;
  right: 0;
  top: 2.9375rem;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benifints__item:last-child::after {
  display: none;
}
.benifints__item:first-child {
  padding-left: 0;
}
.benifints__item:last-child {
  padding-right: 0;
}

.benifints__image {
  display: block;
  width: 3.5rem;
  height: 3.75rem;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.benifits__image-wrapper {
  display: inline-block;
  position: relative;
  width: 8rem;
  height: 8rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.benifits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benifits__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.375rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.benifits__description {
  line-height: 1.1875rem;
  text-align: center;
  width: 15.4375rem;
  color: #666666;
  width: 87%;
}

@media screen and (max-width: 768px) {
  .benifints__item::after {
    display: none;
  }

  .benifits__title {
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .benifits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem 0 0.5rem;
  }

  .benifints__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
    padding: 0;
  }
  .benifints__item:last-child {
    margin-bottom: 0;
  }

  .benifits__title {
    text-align: left;
    white-space: normal;
  }

  .benifits__description {
    text-align: left;
    width: auto;
  }

  .benifits__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.reviews__container > .bx-wrapper {
  background: #f5f5f5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.main__titile--reviews {
  margin-bottom: 4.625rem;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avatar {
  width: 15.8125rem;
  height: 16.5rem;
  margin-right: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar--team {
  width: 13.75rem;
  height: 18.125rem;
  margin-right: 0;
  margin-bottom: 1.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar__img {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.review__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.6875rem;
}

.review__content-text {
  color: #666666;
  margin-bottom: 2.375rem;
}

.review__username {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.reviews__pager-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__pager-item {
  margin-right: 0.625rem;
}
.review__pager-item:last-child {
  margin-right: 0;
}

.review__pager-image {
  height: 4.625rem;
  width: 4.625rem;
  border-radius: 50%;
  overflow: hidden;
}

.review__pager-image {
  border: 0.25rem solid transparent;
}
.review__pager-image:hover {
  border: 0.25rem solid #E01F3D;
}

.active .review__pager-image {
  border: 0.25rem solid #E01F3D;
}

@media screen and (max-width: 768px) {
  .avatar {
    width: 8.125rem;
    height: 8.125rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .review__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 2.8125rem 0 2.8125rem;
  }

  .review__content-text {
    text-align: center;
    padding: 0 0.3125rem;
  }

  .review__content-text {
    margin-bottom: 1rem;
  }

  .review__username {
    font-weight: 400;
  }

  .main__titile--reviews {
    margin-bottom: 5.5625rem;
  }

  .review__title {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 480px) {
  .review__pager-image {
    height: 4rem;
    width: 4rem;
  }
}
.delivery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-size: 93%;
}

.delivery {
  background: url(../img/bg.png) bottom no-repeat, #161616;
  background-size: 80%;
}

.main__title--delivery {
  margin-bottom: 3.8125rem;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
}

.delivery {
  color: #FFFFFF;
}

.form__item > .input-error {
  background-color: #E01F3D;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0 0.3125rem 0 0.3125rem;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
  width: 100%;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8125rem;
  border-radius: 0.25rem;
  border: none;
  background: #fff;
  height: 3.625rem;
  font-size: 1.125rem;
  color: #202123;
}
.form__input:focus-visible {
  outline: none;
  border: 0.1875rem solid #E01F3D;
}

.form__column:nth-child(2) > .form__item {
  width: 98%;
}

.form__row:nth-child(1) > .form__item {
  width: 50%;
}

.form__row:nth-child(2) > .form__item {
  width: 99.5%;
}

.form__row:nth-child(3) > .form__item {
  width: 25%;
}

.form__input--normal {
  width: 95%;
}

.form__item__label {
  margin-bottom: 0.375rem;
}

.form__item:nth-child(2) > .form__input--normal {
  margin-right: 0;
}

.form__item:nth-child(4) > .form__input--short {
  margin-right: 0;
}

.form__input--long {
  margin-right: 0;
  width: 98%;
}

.form__input--short {
  margin-right: 0.75rem;
  width: 90%;
}
.form__input--short:nth-child(4) {
  margin-right: 0;
}

.form__input--textarea {
  width: 100%;
  height: 9.875rem;
  margin-bottom: 2.25rem;
  margin-right: 0;
}

.form__column {
  margin-right: 1.625rem;
}

.controls__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.75rem;
}

.controls__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
}

.controls__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__radio:checked + .form__item__label--radio::before {
  outline: none;
  background: #E01F3D;
  border: 0.375rem solid #ffffff;
  width: 0.8125rem;
  height: 0.8125rem;
}

.form__item__label--radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--radio::before {
  content: "";
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.controls__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__checkbox:checked + .form__item__label--checkbox::before {
  background: url(../img/checkmark.svg) center no-repeat, #ffffff;
}

.form__item__label--checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--checkbox::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__btn--fat {
  padding: 1.25rem 2.5rem;
}

.btn--color--transparent {
  background: transparent;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: none;
  padding: 0rem 0.9375rem;
}

@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__column {
    margin-right: 0;
    width: 68%;
  }

  .form__input {
    height: 2.3125rem;
  }

  .main__title--delivery {
    margin-bottom: 2rem;
  }

  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__input--textarea {
    height: 5.1875rem;
    margin-bottom: 0.8125rem;
  }

  .btn--color--transparent {
    color: #E01F3D;
  }

  .controls {
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 480px) {
  .form__column {
    width: 100%;
  }

  .form__input--short {
    margin-right: 0.625rem;
  }

  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .controls {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section {
  height: 100vh;
  min-height: 40.625rem;
  min-width: 0;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
}
@media screen and (max-width: 480px) {
  .socials__item {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__img {
  width: 100%;
  height: 100%;
  fill: #B3B3B3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.socials__img:hover {
  fill: #000;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.info {
  background: url(../img/map.png) center center no-repeat;
  background-size: cover;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.375rem;
}

@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.25rem 0 1.9375rem 0;
  }

  .footer__contacts {
    margin-bottom: 0.4375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__address {
    margin-bottom: 0.4375rem;
  }
}
.map {
  height: 40.75rem;
  width: 68.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.map__img {
  display: block;
  margin: 0 auto;
}

.fullscrean-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333537;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.close {
  position: absolute;
  top: 2.625rem;
  right: 2.625rem;
}

.close__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #FFFFFF;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 90%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .offer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offer__image-wrapper {
  width: 28.25rem;
  height: 28.25rem;
  margin-top: 1.875rem;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  margin-right: 3.6875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .offer__image-wrapper {
    width: 19.125rem;
    height: 19.125rem;
    margin-bottom: 3.0625rem;
    margin-right: 0;
    margin-top: 0;
  }
}

.offer__img {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .offer__title {
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.875rem;
  }
}
@media screen and (max-width: 480px) {
  .offer__title {
    width: 85%;
  }
}

.offer__discription {
  color: #666666;
  margin-bottom: 1.5rem;
  width: 85%;
}
@media screen and (max-width: 768px) {
  .offer__discription {
    text-align: center;
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .offer__discription {
    width: 98%;
    line-height: 1.1875rem;
  }
}

.offer__pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .offer__pros {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33%;
  }
}
@media screen and (max-width: 480px) {
  .offer__pros {
    width: 70%;
  }
}

.offer__pros-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5.625rem;
}
@media screen and (max-width: 768px) {
  .offer__pros-item {
    margin: 0;
    width: 100%;
  }
  .offer__pros-item:first-child {
    margin-right: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .offer__pros-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
  .offer__pros-item:first-child {
    margin-right: 0;
  }
}

.offer__pros-title {
  color: #666666;
}
@media screen and (max-width: 480px) {
  .offer__pros-title:last-child {
    text-align: left;
  }
}

.offer__pros-text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.offer__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .offer__buy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.offer__price {
  font-size: 2.25rem;
  line-height: 3.75rem;
  margin-right: 1.25rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .offer__price {
    margin-right: 2.8125rem;
  }
}
@media screen and (max-width: 480px) {
  .offer__price {
    font-size: 2rem;
    text-align: center;
    margin-right: 0;
    padding: 0 1.25rem 0 1.25rem;
  }
}

.offer__spec-bnt {
  display: inline-block;
  width: 5.6875rem;
  height: 5.6875rem;
  margin-bottom: 1.5625rem;
  position: relative;
  background: #9A9A9A;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .offer__spec-bnt {
    display: none;
  }
}

.offer__spec-bnt:hover .offer__specs {
  top: 0;
  opacity: 1;
}

.spec-btn__icon {
  width: 50%;
  height: 50%;
  fill: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.offer__specs {
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  width: 273px;
  height: 294px;
  display: block;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  top: -999999px;
  left: 91px;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.specs__list {
  padding: 28px 25px 24px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.specs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spec__icon-wrapper {
  width: 2rem;
  height: 2rem;
  margin-right: 12px;
  position: relative;
}

.specs__icon {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.specs__name {
  width: 127px;
}

.specs__value {
  width: 53px;
  text-align: right;
}

.control {
  position: absolute;
  top: 50%;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .control {
    top: 23%;
  }
}
@media screen and (max-width: 480px) {
  .control {
    top: 23%;
  }
}

.control--left {
  left: -5%;
}
@media screen and (max-width: 768px) {
  .control--left {
    left: 23%;
  }
}
@media screen and (max-width: 480px) {
  .control--left {
    left: 0;
  }
}

.control--right {
  right: -5%;
}
@media screen and (max-width: 768px) {
  .control--right {
    right: 23%;
  }
}
@media screen and (max-width: 480px) {
  .control--right {
    right: 0;
  }
}

.arrow {
  width: 13px;
  height: 27px;
}

.slyder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #F8FAF9;
}

.slyder__list {
  position: relative;
}

.bx-prev {
  position: absolute;
  width: 13px;
  height: 27px;
  top: 0;
  right: 0;
}

.bx-next {
  position: absolute;
  width: 13px;
  height: 27px;
  top: 0;
  right: 0;
}

.slyder__container > .bx-wrapper {
  background: #F8FAF9;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 768px) {
  .team__list {
    display: none;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: 1.25rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .team__item {
    margin-bottom: 0.375rem;
  }
}

.team__avatar {
  width: 13.75rem;
  height: 18.125rem;
  margin-right: 0;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .team__avatar {
    width: 13.875rem;
    height: 18.125rem;
    margin-bottom: 1.3125rem;
  }
}
@media screen and (max-width: 480px) {
  .team__avatar {
    width: 8.625rem;
    height: 11.25rem;
  }
}

.team__avatar-img {
  width: 100%;
  height: 100%;
}

.team__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 350px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .team__item-info {
    position: relative;
    top: 0;
  }
}

.team__item-name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .team__item-name {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }
}

.team__item-jobtitle {
  line-height: 1.1875rem;
  color: #292929;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 768px) {
  .team__item-jobtitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #000000;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 768px) {
  .team__item-jobtitle {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}

.team__item-discription {
  color: #666666;
  width: 70%;
}
@media screen and (max-width: 768px) {
  .team__item-discription {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .team__item-discription {
    width: 90%;
  }
}

.team__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6875rem;
  position: relative;
}
.team__item-title::after {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-top: 9px solid #E01F3D;
  right: -15px;
  top: 8px;
}
@media screen and (max-width: 768px) {
  .team__item-title::after {
    border-top: 9px solid #365A49;
  }
}

.active > .team__item-title::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 3px;
}

.team__list--column {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list--column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333537;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100000;
}

.modal__container {
  width: 19.3125rem;
  height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

.modal__content {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 1.125rem;
}

.error-modal {
  color: red;
}