$containerWidth: 940px;
$baseFontSize: 16px;


//brakepoints
$tablets: 768px;
$phones: 480px;
$z-index-fixed-menu:100;



@import "media";
@import  url('./normolize.css');

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

@import "layout";
@import "components/hero";
@import "components/header";
@import "components/menu";
@import "components/pros";
@import "components/btn";
@import "components/contacts";
@import "components/why";
@import "components/benifits";
@import "components/reviews";
@import "components/delivery";
@import "components/form";
@import "components/section";
@import "components/socials";
@import "components/info";
@import "components/footer";
@import "components/map";
@import "components/fullscrean-menu";
@import "components/offer";
@import "components/team";
@import "components/modal";
@import "components/products-menu";
@import "components/player";
@import "components/fixed-menu";
