.btn {
    display: inline-block;
    background: #E01F3D;
    color: #ffffff;
    padding: 15px 41px;
    border-radius: 100px;
    font-weight: 700;
    text-decoration: none;
    
    text-transform: uppercase;
   
}