.contacts {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);
    align-items: center;
    
}
.contacts__image--red {
    @include tablets{
        fill: #E01F3D;
    }
    @include phones {
        fill: black;
    }
    width: rem(12px);
    height: rem(12px);
}
.contacts__phone--red {
    @include tablets{
        color: #E01F3D;
    }
    @include phones{
        color: black;
    }
}
.contacts__image {
    margin-right: rem(6px);
    flex-shrink: 0;
    width: rem(14px);
    height: rem(14px);
}
.contacts__phone{
    white-space: nowrap;
    @include phones {
        font-size: 1rem;
    }
}



// @media (max-width: 961px) {
//     .contacts {
//         display: none;
//     }
// }