.delivery__container {
    display: flex;
    flex-direction: column;
    padding: 68px 81px;
    justify-content: center;
    height: 100%;
    background-size: 93%;
   
}
.delivery {
   
    background: url(../img/bg.png)  bottom no-repeat, #161616;
    background-size: 80%;
}
.main__title--delivery {
    
    margin-bottom: 61px;
    text-align: center;
    color: #FFFFFF;
}
.delivery {
 
color:#FFFFFF;
}