.fixed-menu{
    position: fixed;
    top: 40%;
    right: 3%;
    z-index: $z-index-fixed-menu;
    @include tablets{
        display: none;
    }

    &__item{
        margin-bottom:0.315rem;
        &--active{
            .fixed-menu__link{
                opacity: 1;
                border:0.063rem solid #E01F3D;
                &:before{
                    opacity: 1;
                    background: #E01F3D;
                    
                }
            }
        }
    }

    &__link{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 0.063rem solid transparent;
        display: block;
        position: relative;
        opacity: 0.6;
        &::before{
            content:"";
            opacity: 0.6;
            background: #292929;
            display: block;
            width: 0.378rem;
            height: 0.378rem;
            border-radius: 50%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
}
.fixed-menu{
    &--shadowed{
        .fixed-menu__link{
            &::before{
                content:"";
                background: white;
                
            }
        }
        .fixed-menu__item--active{
            .fixed-menu__link{
                opacity: 1;
                border:0.063rem solid white;
                &:before{
                    opacity: 1;
                    background: white;
                    
                }
            }

    }
    
    
}
}