
.footer__contacts{
    display: flex;
    flex-direction: column;
    
    justify-items: center;
}
.footer__container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: rem(86px);
}
@include phones {
    .footer__container {
        flex-direction: column;
        padding: rem(20px) 0 rem(31px) 0;
    }
    .footer__contacts{
        margin-bottom: rem(7px);
        align-items: center;
    }
    .footer__address {
        margin-bottom: rem(7px);
    }


}