.form {
    display: flex;
    justify-items: center;

}

.form__column {
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 14px;
}

.form__btns {
    display: flex;
}

.form__input {
    flex: 1;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    background: #fff;
    width: 224px;
    height: 59px;
    font-size: 18px;
    color: #202123;

    &:focus-visible {
        outline: none;
        border: 3px solid #E01F3D;
    }
}


.form__item__label {
    margin-bottom: 6px;
}

.form__input--long {
    width: 460px;
}

.form-input--short {
    margin-right: 12px;
    width: 106px;
}

.form__input--textarea {
    width: 450px;
    height: 158px;
    margin-bottom: 36px;
}

.form__column {
    margin-right: 26px;
}

.controls__list {
    display: flex;
    margin-bottom: 16px;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.controls__item {
    display: flex;
    margin-right: 24px;

}

.controls__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.form__item__label--radio::before {
        outline: none;
        background: #E01F3D;
        border: 6px solid #ffffff;
        width: 13px;
        height: 13px;

    }
}

.form__item__label--radio {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        flex-grow: 0;

        background: #ffffff;
        border-radius: 50%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

}

.controls__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.form__item__label--checkbox::before {
        background: url(../img/checkmark.svg) center no-repeat, #ffffff;

    }
}

.form__item__label--checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;

        background: #ffffff;
        border-radius: 4px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
}

.form__btn--fat {
    padding: 20px 40px;
}

.btn--color--transparent {
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
    padding: 0px 15px;
}