.info__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
}
.info {
    // background: url(../img/map.png) center center no-repeat;
    // background-size: cover;
}
