

.player{
     display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    width: rem(662px);
    height: rem(392px);
    @include tablets{
        width: rem(594px);
        height: rem(352px);
    }
    @include phones{
        width: rem(395px);
        
        height: 100%;
    }
    position: relative;
    &-media{
        display: flex;
        justify-content: center;
        align-items: center;
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
}
    &-container{
        
        max-width: 662px;
        min-width: 333px;
        
    }
   
    &__controls{
        display: flex;
        justify-content: start;
        align-items: center;
        height: rem(35px);
        width: rem(662px);
        @include tablets{
        width: rem(594px);
    }
    @include phones{
        width: rem(395px);
        min-width: 333px;
    }
        background-color: #151515;
        position: absolute;
        bottom: 0;
    }

    &__volume{
        display: flex;
        align-items: center;
        width: 70px;
        height: auto;
        position: relative;
        background: transparent;
        &-wrapper{
            //margin-left: 1%;
            display: flex;
            justify-content: center;
        }

    }
    &__icon{
        display: block;
        position: relative;
        top: 15%;
        margin-right: rem(10px);
        &-img{
            width: 1.25rem;
            height: 1.25rem;
        }
        @include phones{
            top:-7%;
            width:10px;
            height: 10px;
        }

    }
    &__start{
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-left: 5%;
        margin-right: 3%;
        background: url(../img/player/play.svg) no-repeat;
        background-size: 70%;
        width: 1.25rem;
        height: 1.25rem;
        //margin-top: rem(7px);
        cursor: pointer;
       
        &.active{
            background: url(../img/player/pause.svg) no-repeat;
            background-size: 130%;
        }

    }

    &__wrapper{
        display: flex;
        justify-content: start;
        align-items: start;
        position: relative;
    }
    &__splash{
        position: absolute;
        cursor: pointer;
        width: rem(662px);
        height: rem(392px);
        @include tablets{
            width: rem(594px);
            height: rem(352px);
        }
        @include phones{
            width: rem(395px);
            height: rem(234px);
            min-width: 333px;
            min-height: 197px;
        }
        background: url(././img/player/player_bg.png) top left no-repeat;
        background-size: 100% 100%;

        &-icon{
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 71px;
            top:40%;
            left:45%;
            @include phones{
                top:30%;
                
            }
        }
        &.active{
            display: none;
        }
    }
    &__elem{
        width: rem(662px);
        height: rem(392px);
        @include tablets{
            width: rem(594px);
            height: rem(352px);
        }
        @include phones{
            width: rem(395px);
            height: rem(234px);
            min-width: 333px;
            min-height: 197px;
        }
    }
    
}


.slider__volume{
    z-index: 2;
    border-radius:2px;
    background: #333333;
    width: rem(100px);
    height: 4px;
    cursor: pointer;
    .ui-slider-handle{
        position: absolute;
        z-index: 2;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #E01F3D;
        top:-50%;
        margin-left: -7%;
    }
    .ui-slider-range {
        background: #E01F3D;
        position: absolute;
        border: 0;
        top: 20%;
        height: 4px;
        border-radius: 2px;
    }
}

.player__slider-timing{
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    border-radius:2px;
    background: #333333;
    width: rem(442px);
    margin-right: rem(40px);
    @include tablets{
        width: rem(350px);
        
    }
    @include phones{

        width: rem(200px);
        min-width: 169px;
        
    }
    height: 4px;
    >.ui-slider-handle{
        position: absolute;
        z-index: 2;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #E01F3D;
        top:-60%;
        margin-left: -6px;
    }
    >.ui-slider-range {
        background: #E01F3D;
        position: absolute;
        border: 0;
        top: 30%;
        height: 4px;
        border-radius: 2px;
    }
}
.player__slider-timing-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
