.why {
 
    background: #ffffff;

}

.why__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.main__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 18px;
    text-align: center;
}

.why__subtitle {
    color: #666666;
    width: 50%;
    text-align: center;
    margin-bottom: 55px;
}