.why {

    background: #ffffff;

}

.why__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main__title {
    font-weight: 700;
    font-size: rem(48px);
    line-height: rem(52px);
    text-transform: uppercase;
    margin-bottom: rem(18px);
    text-align: center;
}

.why__subtitle {
    color: #666666;
    padding: 0 26%;
    text-align: center;
    margin-bottom: rem(55px);
}

@media (max-width: 768px) {
    .why__subtitle {
        margin-bottom: 2.9rem;
        padding: 0 10%;
    }

    .main__title {
        margin-bottom: 0.7rem;
    }
}

@media (max-width: 480px) {
    .main__title {
        font-size: 2rem;
        line-height: 2.25rem;
    }
    .why__subtitle{
        padding: 0 2%;
        
    }

}